.header {
  width: 100vw;
  margin: auto;
}
.menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: var(--alto-nav);
  background-color: var(--color-fondo-1);
  grid-template-areas: "logo rutas boton";
  align-items: center;
  box-shadow: var(--sombra);
  padding-inline: 1.5em;
  column-gap: 0.5em;
}
.logo {
  background-image: url(../img/Rj-Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(var(--alto-nav) - 1rem);
  width: var(--fuente-tres);
  cursor: pointer;
}
.categ {
  display: flex;
  position: absolute;
  top: var(--alto-nav);
  left: 0;
  right: 0;
  z-index: 5;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  flex-direction: row;
  box-shadow: var(--sombra);
  height: 0%;
  transition: .5s ease-in;
}
.categ__rutas {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .3rem;
  width: 100%;
}
.categ__rutas--item {
  display: inline-block;
}

.categ__rutas--item a {
  text-decoration: none;
  position: relative;
  height: calc(var(--alto-nav) - 1.3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  width: 95vw;
}

.categ__rutas--item a > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
}

.navB {
  grid-area: boton;
  transition: all 1s;
  padding: 0.3em;
  border: none;
}
.navB span {
  font-size: calc(var(--fuente-tres) + .5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
