.lista_productos {
  list-style: none;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}
.lista__productos-producto {
  height: min-content;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.274);
  position: relative;
  overflow: hidden;
  align-items: center;
}
.producto__imagen-producto {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 380px;
  min-height: 350px;
}
.producto__imagen-producto > div > img {
  max-width: 380px;
  min-width: 380px;
  overflow: hidden;
}
.producto__info-producto {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template:
    "info" 100%
    "btn" 100%;
  padding: 1rem 0;
  margin: 0 auto;
  gap: 1rem;
  color: var(--color-negro);
}
.info-producto-info {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  position: relative;
}
.precio_producto {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.3s ease;
  text-wrap: nowrap;
}
.info-producto-info > .tallas {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  width: 100%;
}
.tallas label {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  margin-right: 5px;
}
.tallas label:hover {
  background-color: lightblue;
}
.info-producto__botones {
  width: 100%;
  display: flex;
  grid-area: btn;
  gap: .5rem;
}
.info-producto__botones button {
  width: 85%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info-producto__botones button:last-child {
  width: 15%;
}
.btn__agregar {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.btn__agregar > span {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-weight: bolder;
}
.btn__agregar:last-child span {
  display: flex;
  justify-content: center;
}